.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

#secondary {
	.widget {
		@include font-size(1.3);
		h2 {
			@extend .secondary-title;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.recentcomments {
			margin-bottom: 15px;
		}
		.tagcloud {
			a {
			
			}
		}
		.widget_categories {
			margin-bottom: 15px;
		}
	}
	
}

// Jetpack social media icons
.widget_wpcom_social_media_icons_widget {
	margin-top: 1em;
	.genericon {
		@include font-size(2.5);
		&:hover, &:focus {
			color: $color__link-hover;
		}
	}
	ul {
		margin: 0;
		padding: 0;
	}
}

@media screen and (min-width: 768px) {
	.widget_wpcom_social_media_icons_widget {
	margin-top: 3em;
	}
}

div.sharedaddy h3.sd-title {
	display: none !important;
}