.single-portfolio {
	article {
		img {
			margin-bottom: 1.5em;
		}	
	}
	article figure img {
		margin-bottom: 0;
	}
	.portfolio-item-details {
		@include font-size(1.3);
		//line-height: 1.8em;
		margin: 1em 0;
	}

div.sharedaddy {
	margin-top: 1.5em;
	}

}	
